@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
nav{
    background-color: #F55A5A;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    font-weight: 400;
}

nav h6{
    color: white;
    font-size: 1rem;
}